<mat-toolbar color="primary">
    <a mat-button *ngIf="user" [routerLink]="'/'">
      {{title}} - {{version}}
    </a>
    <span class="spacer"></span>
    
    <a mat-button *ngIf="user" [routerLink]="'./user-profile'">
      {{user.firstName}} {{user.lastName}}
      <img 
        width="32" 
        height="32" 
        class="user-profile-picture" 
        [src]="user.profilePictureUrl"
      >
    </a>
    <mat-slide-toggle labelPosition="before" [ngSwitch]="theme" (change)="toggleTheme()">
        <mat-icon *ngSwitchCase="lightTheme">wb_sunny</mat-icon>
        <mat-icon *ngSwitchCase="darkTheme">nights_stay</mat-icon>
      </mat-slide-toggle>
</mat-toolbar>