
<google-chart
    style="width: 100%;"
    *ngIf="!noData"
    (ready)="onReady()"
    (error)="onError()"
    [dynamicResize]="dynamicResize"
    [options]="options"
    [type]="type"
    [data]="data"
    [columns]="columns">
</google-chart>

<app-something-went-wrong *ngIf="!loading && error"></app-something-went-wrong>

<section class="alert alert-info" *ngIf="!loading && !error && noData">
    {{'cats.details.no_activity_data' | translate}}
</section>

<app-loading *ngIf="loading"></app-loading>

